* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: #FFFFFF;
}

li, a {
    font-size: 16px;
    list-style-type: none;
    text-decoration: none;
    color: #FFFFFF;
}

i {
    font-size: 32px;
    list-style-type: none;
    text-decoration: none;
    color: #FFFFFF;
    transition: all 0.2s ease 0s;
}
i:hover {
    color: #00818D;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    background: #000000;
    padding: 0 25px;
    transition: 0.3s;
}
.logo a {
    display: block;
}

.logo a img {
    display: block;
    width: 100%;
    padding-left: 100px;
}

.nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

.menu li {
    list-style-type: none;
}

.menu li a {
    color: #ffffff;
    text-decoration: none;
    display: block;
    padding: 40px 25px;
    font-size: 16px;
    line-height: 1;
    transition: 0.3s;
}

.menu li a:hover {
    box-shadow: 0 -5px 0 #ffffff inset;
}

.hamburger {
    position: relative;
    width: 30px;
    height: 4px;
    background: #00818D;
    border-radius: 8px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.hamburger:before, .hamburger:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #00818D;
    border-radius: 8px;
    transition: 0.3s;
}

.hamburger:before {
    top: -10px;
    width: 20px;
}

.hamburger:after {
    top: 10px;
    width: 25px;
}

.toggle-menu {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}

.hamburger, .toggle-menu {
    display: none;
}

.nav-links input:checked ~ .hamburger {
    background: transparent;
}
.nav-links input:checked ~ .hamburger:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}
.nav-links input:checked ~ .hamburger:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

header img {
    width: 167px;
    height: 72px;
}

.hero-banner-and-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-image: url("assets/herobanner101.png");
    height: 350px;
}

.hero-banner-and-content h1 {
    font-size: 40px;
    font-weight: normal;
    padding-left: 112px;
    padding-right: 112px;
    color: #FFFFFF;
    width: 100%;
}

.hero-banner-and-content p {
    font-size: 24px;
    font-weight: normal;
    color: #FFFFFF;
    padding-left: 112px;
    padding-right: 112px;
    width: 100%;
}


.btn-sign-up-today {
    color: #FFFFFF;
    background-color: #FD6701;
    border: none;
    text-decoration: none;
    padding: 4px 32px 4px 32px;
    border-radius: 8px;
    margin-left: 112px;
}
.btn-sign-up-today {
    transition: all 0.2s ease 0s;
}

.btn-sign-up-today:hover {
    color: #FFFFFF;
    background-color: #FFA66A;
}

body {
    background-color: #232323;
    position: relative;

}

/* categories menu ----*/

.main {
    position: relative;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #333333;
    padding: 0 24px;
    transition: 0.3s;
}

.categories-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categories-menu {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    transition: 0.5s;
}

.categories-menu li {
    list-style-type: none;
}

.categories-menu li a {
    color: #FFFFFF;
    text-decoration: none;
    display: block;
    padding: 16px 32px;
    font-size: 16px;
    line-height: 1;
    transition: 0.3s;
}
.categories-menu h4 {
    padding-right: 16px;
    letter-spacing: 2px;
}

.categories-menu li a:hover {
    box-shadow: 0 -5px 0  inset;
}

/* ---- dropdown menu for categories -- */

.hamburger-categories {
    position: relative;
    width: 30px;
    height: 4px;
    background: #00A86B;
    border-radius: 10px;
    cursor: pointer;
    z-index: 2;
    transition: 0.3s;
}

.categories-menu h4 {
    padding-right: 16px;
    letter-spacing: 2px;
}

.hamburger-categories:before, .hamburger-categories:after {
    content: "";
    position: absolute;
    height: 4px;
    right: 0;
    background: #00A86B;
    border-radius: 10px;
    transition: 0.3s;
}

.hamburger-categories:before {
    top: -10px;
    width: 20px;
}

.hamburger-categories:after {
    top: 10px;
    width: 25px;
}


.toggle-menu-categories {
    position: absolute;
    width: 30px;
    height: 100%;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
}


.hamburger-categories, .toggle-menu-categories {
    display: none;
}

.categories-section input:checked ~ .hamburger-categories {
    background: transparent;
}

.categories-section input:checked ~ .hamburger-categories:before {
    top: 0;
    transform: rotate(-45deg);
    width: 30px;
}

.categories-section input:checked ~ .hamburger-categories:after {
    top: 0;
    transform: rotate(45deg);
    width: 30px;
}

.popular-now-text {
    padding: 16px 1131px 16px 112px;
}

.new-movies-text {
    padding: 16px 1131px 16px 0px;
    color: #FFFFFF;

}

.cards-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0 16px;
}

/* card 1*/

.card1 {
    background-color: #333333;
    width: 254px;
    height: 424px;
    margin: 8px 40px 16px 40px;
    border-radius: 8px;
    padding: 16px 39px 0px 39px;
    box-sizing: border-box;
}

.card1 h3 {
    font-size: 20px;
    padding-top: 12px;
    font-weight: bolder;
    text-align: center;
}

.card1 p {
    font-size: 16px;
    padding-top: 12px;
    font-weight: lighter;
    text-align: center;
}

.card1 .btn-add-to-cart {
    font-size: 16px;
    padding: 0.5px 43px 0.5px 43px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    background-color: #FD6701;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}

.card-1-image {
    height: 232px;
    width: 176px;
    background: url("assets/couple.png");
    background-size: cover;
    border-radius: 8px;
}

/* card 2*/

.card2 {
    background-color: #333333;
    width: 254px;
    height: 424px;
    margin: 8px 40px 16px 40px;
    border-radius: 8px;
    padding: 16px 39px 0px 39px;
    box-sizing: border-box;

}

.card2 h3 {
    font-size: 20px;
    padding-top: 12px;
    font-weight: bolder;
    text-align: center;
}

.card2 p {
    font-size: 16px;
    padding-top: 12px;
    font-weight: lighter;
    text-align: center;
}

.card2 .btn-add-to-cart {
    font-size: 16px;
    padding: 0.5px 43px 0.5px 43px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    background-color: #FD6701;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}

.card-2-image {
    height: 232px;
    width: 176px;
    background: url("assets/riddle.webp");
    background-size: cover;
    border-radius: 8px;
}

/* card 3*/

.card3 {
    background-color: #333333;
    width: 254px;
    height: 424px;
    margin: 8px 40px 16px 40px;
    border-radius: 8px;
    padding: 16px 39px 0px 39px;
    box-sizing: border-box;
}

.card3 h3 {
    font-size: 20px;
    padding-top: 12px;
    font-weight: bolder;
    text-align: center;
}

.card3 p {
    font-size: 16px;
    padding-top: 12px;
    font-weight: lighter;
    text-align: center;
}

.card3 .btn-add-to-cart {
    font-size: 16px;
    padding: 0.5px 43px 0.5px 43px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    background-color: #FD6701;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}

.card-3-image {
    height: 232px;
    width: 176px;
    background: url("assets/myteacherhesh.png");
    background-size: cover;
    border-radius: 8px;
}

/* card 4*/

.card4 {
    background-color: #333333;
    width: 254px;
    height: 424px;
    margin: 8px 40px 16px 40px;
    border-radius: 8px;
    padding: 16px 39px 0px 39px;
    box-sizing: border-box;
}

.card4 h3 {
    font-size: 20px;
    padding-top: 12px;
    font-weight: bolder;
    text-align: center;
}

.card4 p {
    font-size: 16px;
    padding-top: 12px;
    font-weight: lighter;
    text-align: center;
}

.card4 .btn-add-to-cart {
    font-size: 16px;
    padding: 0.5px 43px 0.5px 43px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    background-color: #FD6701;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}

.card-4-image {
    height: 232px;
    width: 176px;
    background: url("assets/raw.webp");
    background-size: cover;
    border-radius: 8px;
}

/* card 11*/

.card11 {
    background-color: #333333;
    width: 254px;
    height: 424px;
    margin: 8px 40px 16px 40px;
    border-radius: 8px;
    padding: 16px 39px 0px 39px;
    box-sizing: border-box;
}

.card11 h3 {
    font-size: 20px;
    padding-top: 12px;
    font-weight: bolder;
    text-align: center;
}

.card11 p {
    font-size: 16px;
    padding-top: 12px;
    font-weight: lighter;
    text-align: center;
}

.card11 .btn-add-to-cart {
    font-size: 16px;
    padding: 0.5px 43px 0.5px 43px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    background-color: #FD6701;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}

.card-11-image {
    height: 232px;
    width: 176px;
    background: url("assets/1131w-WZj6dhP22lA.webp");
    background-size: cover;
    border-radius: 8px;
}

/* card 22*/

.card22 {
    background-color: #333333;
    width: 254px;
    height: 424px;
    margin: 8px 40px 16px 40px;
    border-radius: 8px;
    padding: 16px 39px 0 39px;
    box-sizing: border-box;
}

.card22 h3 {
    font-size: 20px;
    padding-top: 12px;
    font-weight: bolder;
    text-align: center;
}

.card22 p {
    font-size: 16px;
    padding-top: 12px;
    font-weight: lighter;
    text-align: center;
}

.card22 .btn-add-to-cart {
    font-size: 16px;
    padding: 0.5px 43px 0.5px 43px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    background-color: #FD6701;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}

.card-22-image {
    height: 232px;
    width: 176px;
    background: url("assets/1131w-AOBSIAmLWOs.webp");
    background-size: cover;
    border-radius: 8px;
}

/* card 33*/

.card33 {
    background-color: #333333;
    width: 254px;
    height: 424px;
    margin: 8px 40px 16px 40px;
    border-radius: 8px;
    padding: 16px 39px 0px 39px;
    box-sizing: border-box;
}

.card33 h3 {
    font-size: 20px;
    padding-top: 12px;
    font-weight: bolder;
    text-align: center;
}

.card33 p {
    font-size: 16px;
    padding-top: 12px;
    font-weight: lighter;
    text-align: center;
}

.card33 .btn-add-to-cart {
    font-size: 16px;
    padding: 0.5px 43px 0.5px 43px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    background-color: #FD6701;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}

.card-33-image {
    height: 232px;
    width: 176px;
    background: url("assets/1131w-1l6a1MV4PaA.webp");
    background-size: cover;
    border-radius: 8px;
}

/* card 44*/

.card44 {
    background-color: #333333;
    width: 254px;
    height: 424px;
    margin: 8px 40px 16px 40px;
    border-radius: 8px;
    padding: 16px 39px 0 39px;
    box-sizing: border-box;
}

.card44 h3 {
    font-size: 20px;
    padding-top: 12px;
    font-weight: bolder;
    text-align: center;
}

.card44 p {
    font-size: 16px;
    padding-top: 12px;
    font-weight: lighter;
    text-align: center;
}

.card44 .btn-add-to-cart {
    font-size: 16px;
    padding: 0.5px 43px 0.5px 43px;
    font-weight: normal;
    text-align: center;
    white-space: nowrap;
    background-color: #FD6701;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
    margin-top: 12px;
}

.card-44-image {
    height: 232px;
    width: 176px;
    background: url("assets/wildforest.png");
    background-size: cover;
    border-radius: 8px;
}

.btn-add-to-cart:hover {
    background-color: lightsalmon;
}

.full-homepage {
    position: relative;
    min-height: 100vh;
}

.full-page-without-footer {
    padding-bottom: 2.5rem;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
}

.all-movies-text {
    padding: 24px 0 16px 112px;
}

.all-movies-text a:hover {
    color: #95DEFF;
}

.all-movies-text i {
    font-size: 20px;
    padding-left: 8px;
}

.squareeyes-membership {
    background-color: #333333;
    color: #FFFFFF;
}

.squareeyes-membership h2 {
    margin-left: 112px;
    margin-right: 112px;
    padding-top: 16px;
    font-weight: normal;
    font-size: 32px;
}

.squareeyes-membership p {
    margin-left: 112px;
    margin-right: 112px;
    padding-top: 8px;
}

.squareeyes-membership button {
    margin-top: 16px;
    margin-bottom: 24px;
}

.squareeyes-membership .bluetext {
    color: cadetblue;
}

.bottom-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #4E4E4E;
    color: #FFFFFF;
    font-size: 14px;
    padding: 8px 0 8px 0;
}

.bottom-navbar p {
    padding-left: 112px;
}

.bottom-navbar img {
    height: 45px;
    width: 102px;
}

.some-icons {
    padding-right: 112px;
    padding-left: 0;

}

.some-icons i {
    align-items: center;
}

.nav-links input:checked ~ .menu {
    right: 0;
    box-shadow: -16px 0 40px rgba(0,0,0,0.3);
}

.categories-section input:checked ~ .categories-menu {
    right: 0;
    box-shadow: -16px 0 40px rgba(0,0,0,0.3);
}













/* Small (xs) SCREENS UNDER THIS WIDTH */
@media (max-width: 430px) {

    .header {
        width: 429px;
    }

    .some-icons i {
        display: none;
    }
    .categories-section {
        display: none;
    }
    .main {
        display: none;
    }
    .hero-banner-and-content {
        width: 429px;
        background-size: 100%;

    }
    .hero-banner-and-content h1  {
        font-size: 24px;
        font-weight: normal;
        padding-left: 8px;
        padding-right: 8px;
        color: #FFFFFF;

    }
    .hero-banner-and-content p {
        font-size: 16px;


    }

    .btn-sign-up-today {
        color: #FFFFFF;
        background-color: #FD6701;
        border: none;
        text-decoration: none;
        padding: 4px 32px 4px 32px;
        border-radius: 8px;

    }
    .btn-sign-up-today {
        transition: all 0.2s ease 0s;
    }

    .btn-sign-up-today:hover {
        color: #FFFFFF;
        background-color: #FFA66A;
    }
    .cards-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

    }
    footer .some-icons {
        display: none;
    }




}

/* Small (sm) */
@media (max-width: 884px) {


    .hero-banner-and-content {
        flex-direction: column;
        background-size: 700%;
        background-repeat: no-repeat;
        background-position: 45% 0;

    }

    .hero-banner-and-content h1 {
        width: 100%;
        font-size: 32px;
        padding-left: 16px;
        text-align: center;
    }

    .hero-banner-and-content p {
        font-size: 16px;
        padding-left: 70px;
        text-align: center;
    }

    .header {
        padding: 16px 40px;
    }
    .logo a img {
        display: block;
        width: 125px;
        height: 55px;
    }

    .hamburger, .toggle-menu {
        display: block;
    }
    .menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        position: fixed;
        top: 0;
        right: -300px;
        background: #000000;
        width: 200px;
        height: 400px;
        padding-top: 65px;
        border-radius: 0 0 0 8px;
    }
    .menu li {
        width: 100%;
    }

    .menu li a {
        padding: 16px;
        font-size: 16px;
        box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1) inset;

/* -------categories menu ----*/

    }
    .hamburger-categories, .toggle-menu-categories {
        display: block;

    }

    .categories-section p {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 16px;
    }

    .hamburger-categories, .hamburger-categories:before, .hamburger-categories:after  {
        display: flex;
        flex-direction: row;
        background-color: transparent;
    }

    .toggle-menu-categories  {
        width: 100px;
        height: 20px;
    }

    .categories-section {
        padding-right: 50px;
    }

    .hamburger-categories p {
        align-items: center;
        align-content: center;
        justify-content: center;
        text-align: center;
    }

    .main {
        padding: 0;
    }

    .categories-menu {
        justify-content: start;
        flex-direction: column;
        align-items: center;
        text-align: center;
        position: fixed;
        background: #000000;
        top: 400px;
        right: -120px;
        width: 120px;
        height: 400px;
        padding-top: 0;
        padding-bottom: 16px;
        border-radius: 8px 0 0 8px;

    }

    .categories-menu li {
        width: 100%;
    }

    .categories-menu li a {
        padding: 4px;
        font-size: 16px;
        box-shadow: 0 1px 0 rgba(255,255,255,0.1) inset;
    }
    .new-movies-text {
        padding: 16px 0 16px 0;
        color: white;
        text-align: center;
    }

    .popular-now-text {
        color: white;
        text-align: center;
        white-space: nowrap;
        padding-right: 0;
        padding-left: 0;
    }
    .bottom-navbar p {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:
        font-size: 14px;
        padding-right: 20px;
        padding-bottom: 16px;
    }

    .bottom-navbar p {
        padding-right: 70px;
        padding-left: 40px;
        padding-top: 20px;
    }

    .some-icons {
        display: inline-flex;
        padding-left: 40px;
        padding-top: 8px;
    }
    .categories-menu h4 {
        display: flex;
        letter-spacing: 0;
        padding-top: 8px;
        padding-left: 8px;
        text-align: center;
    }
    .logo a img {
        display: block;
        width: 100%;
        padding: none;
    }
    .cards-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
    footer .some-icons {
        display: none;
    }
    .bottom-navbar img {
        padding-right: 40px;
        width: 130px;
    }
    .bottom-navbar {
        justify-content: space-between;
    }


}

/* Medium (md) */
@media (max-width: 1000px) {



}

/* Large (lg) */
@media (min-width: 1024px) {

}

/* Extra Large (xl) */
@media (min-width: 1280px) {

}

/* 2XL (2xl) */
@media (min-width: 1536px) {

}